.maptalks-map-zoom_animated {
    -webkit-transition: -webkit-transform 0.15s cubic-bezier(0,0,0.25,1);
    -moz-transition: -moz-transform 0.15s cubic-bezier(0,0,0.25,1);
    -ms-transition: -ms-transform 0.15s cubic-bezier(0,0,0.25,1);
    -o-transition: -o-transform 0.15s cubic-bezier(0,0,0.25,1);
    transition: transform 0.15s cubic-bezier(0,0,0.25,1);
}

.maptalks-map-fade-anim {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.maptalks-map-tile-back {
    background-image:url(../images/tile_back.png);
    background-repeat: repeat;
}